.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
    display: none;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

.autocomplete-loading{
    display: none;
}

.autocomplete-loading-container{
    float: right;
    margin-right: 50px;
    position: relative;
    display: block;
    top: -29px;
}

.fac_frm_remove_tag:before{
    content: '\e600';
}

.fac_frm_add_tag:before{
    content: '\e602';
}

.fac_frm_remove_tag:before,
.fac_frm_add_tag:before{
    vertical-align: middle;
}

li#autocomplete > a.frm_add_field{
    color: #dc5958 !important;
}
.fma_field {
    float: left;
    width: 100%;
}
.autocomplete-conatiner {
    float: left;
    width: 100%;
    position: relative;
}

.clear-button {
    cursor: pointer;
    opacity: 0.7;
    right: 15px;
    position: absolute;
    display: none;
    background-image: url(../images/remove-icon.gif );
    background-position: center center;
    background-repeat: no-repeat;
    width: 15px;
    height: 30px;

}